# Project-wide Lombok settings
# https://projectlombok.org/features/configuration

# Add @Generated
lombok.addLombokGeneratedAnnotation = true

# Add @ConstructorProperties
lombok.anyConstructor.addConstructorProperties = true

# Add JSR305 annotations to generated code
lombok.addNullAnnotations = javax

# use uppercase logger name
lombok.log.fieldName = LOG